* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*해딩태그들은 마진을 기본적으로 가지고 있기떄문에 처음부터 초기화 해준다.*/
  margin: 0;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.blind {
  /*디스플레이 nonen대신에 가릴수있는 역할을함*/
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.center-align {
  margin: 0 auto;
  width: 1080px;
  height: 100%;
}
#header {
  height: 170px;
}
#header-top {
  float: right;
  color: #888;
  letter-spacing: -1px; /*글자사이 간격*/
  font-size: 11px;
  line-height: 22px;
}
#header-search {
  clear: both;
  padding-top: 20px;
  padding-bottom: 38px;
}
#header-top span:first-child {
  color: #888;
  letter-spacing: -1px; /*글자사이 간격*/
  font-size: 11px;
  line-height: 22px;
}
#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url("../PIC/네이버\ 스프라이트.png"); /*네이버 스프라이트 불러옴*/
  background-position: -4px -4px; /*좌우이동 그리고 상하이동 -> 스프라이트에서 원하는 이미지를 위치 시키는것임*/
  text-indent: 100%; /*글자 들여쓰기 그리고 이게 안보이게 하려면 overflow 로 hidden*/
  overflow: hidden;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -6px;
}
#header-search h1 span {
  display: none;
}
#header-search h2 {
  display: none;
}
#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  border: solid 4px skyblue;
  width: 521px;
  height: 49px;
  display: inline-block; /*인라인블록은 너비 높이를 지정가능함 // 인라인은 컨덴츠영역만 블록차지함*/
  vertical-align: middle; /*정렬을 맞추는 역할*/
  position: relative; /*2nd. 1st에서의 대상이 붙을곳에다가 포지션 relative쓴다.*/
}
#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none; /*입력란에 굵게 포인트 주는 박스를 없앤다*/
  vertical-align: top;
  width: 405px;
  height: 23px;
}
#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background-color: skyblue;
  position: absolute; /*1st.이동시킬 대상에 포지션 앱솔루트 쓰기 right 0 top 0 하면 우측상단에 가서 붙게됨 이후 조정을해준다*/
  right: -2px; /*3rd. 위치조정은 마지막에 해준다.*/
  top: -4px;
}
/*메모사항-> absolute는 자신의 컨테이닝 블록기준에서 위치한다. 보통의 태그들은 static인데 이들은 컨테이닝 블록이 아니다.
따라서 자식에서 부모로 거슬러올라가면서 계속 컨테이닝 블록을 찾게되는데 컨테이닝 블록이 없으면 html태그까지 거슬러 올라간다
relative,fixed,absolute 는 컨테이닝 블록이다.따라서 여기에 만나면 컨테이닝 블록 기준에서 위치가 결정된다.
relative자체는 원래배치될곳의 기준에서 위치를정하느것이다. 즉,기준의 차이*/
#search-keyboard {
  background-image: url("../PIC/네이버\ 스프라이트.png");
  background-position: -33px -60px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 11px;
  vertical-align: middle;
}
#search-keyboard:hover {
  background-position: -60px -60px;
}
#search-history {
  background-image: url("../PIC/네이버\ 스프라이트.png");
  background-position: -87px -60px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 9px;
  height: 4px;
  vertical-align: middle;
}
#search-image {
  background-image: url("../PIC/네이버\ 스프라이트.png");
  background-position: -4px -58px; /*이러면 끝으머리에 배경사진에 다른 이미지도 나오게됨 */
  background-repeat: no-repeat;
  display: inline-block; /*인라인블록으로 배경이미지가 나오는 프레임의 폭과 높이를 바꿀수있게 해주기*/
  width: 21px; /*배경이미지의 크기설정으로 이미지 스프라이트에서 화면에 나오는 프레임의 크기를 조정함*/
  height: 21px;
  margin: 14px; /*배경이미지를 마진을이용하여 가운데 정중앙에 위치시킴*/
}
nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 3px 0 0 4px;
  list-style: none;
}
#nav-menu li {
  display: inline-block;
}
#nav-menu li span:first-child {
  /*공통적으로 들어있는것들*/
  background-image: url("../PIC/네이버\ 목록.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 14px;
}
#nav-menu li:first-child span:first-child {
  background-position: 0 -285px;
  width: 25px;
  margin-left: 0;
}
#nav-menu li:nth-child(2) span:first-child {
  background-position: -279px -52px;
  width: 27px;
}
#nav-menu li:nth-child(3) span:first-child {
  background-position: -100px -182px;
  width: 40px;
}
#nav-menu li:nth-child(4) span:first-child {
  background-position: -101px -156px;
  width: 40px;
}
#nav-menu li:nth-child(5) span:first-child {
  background-position: -279px -156px;
  width: 26px;
}
#nav-menu li:nth-child(6) span:first-child {
  background-position: -70px -285px;
  width: 25px;
}
#nav-menu li:nth-child(7) span:first-child {
  background-position: -125px -131px;
  width: 32px;
}
.nav-divider {
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}
#search-ranking {
  position: absolute;
  top: 143px;
  right: 300px;
  width: 198px;
  height: 20px;
  border: none;
}
#search-ranking ul {
  display: none; /*평소에 보이지 안게함*/
  list-style: none;
  margin: 0;
  padding: 17px;
  width: 332px;
  height: 334px;
  border: 1px solid #aaa;
  background: white;
  position: absolute;
  top: -14px;
  right: -131px;
  z-index: 100;
}
.time {
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}
.ra {
  background-color: white;
  width: 100%;
  height: 25px;
}
.ra button {
  background-color: rgb(135, 206, 235, 0.6);
  width: 49%;
  height: 100%;
  text-align: center;
}
#search-ranking:hover ul {
  display: inline-block;
}
#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}
main {
  /*부모를 블록포맷컨텍스로 만들어서 자식의 마진이 벗어나지 않게 만듬*/
  display: inline-block;
  width: 100%;
  background-color: #f2f4f7;
}
#main-center {
  padding: 8px 10px 0;
  width: 1100px;
}
#main-first-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#main-ad {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 740px; /*배경이미지의 창틀로 설정이 됨을 알수있다.*/
  height: 120px;
  background-image: url("../PIC/ad1.PNG");
  margin-bottom: 8px; /*각박스바다의 마진을주어 떨어뜨림*/
  margin-right: 8px;
}
#main-login {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: white;
  margin-bottom: 8px;
}
#main-login .login-wrapper {
  padding: 15px 25px;
}
#main-login .login-wrapper a {
  display: block;
}
#main-login .login-text {
  color: #888;
  font-size: 12px;
  line-height: 14px;
}
#main-login .login-image {
  background: url("../PIC/sp_login.png") 0 -47px no-repeat;
  display: inline-block;
  width: 280px;
  height: 37px;
}
#main-login .login-signup {
  text-decoration: none;
  float: right;
  font-size: 12px;
  line-height: 38px;
  color: #666;
  margin-top: 12px;
}
#main-login .login-signup:hover {
  text-decoration: underline;
}
#main-second-block .float-left:first-child {
  width: 740px;
  margin-right: 8px; /*자식의 마진은  부모로 옮긴다. 그래야 자식의 마진이 부모를 뚫고 나가는것을막을수있다.  자식은 main-ytn*/
}
#main-second-block .float-left:last-child {
  width: 332px;
  vertical-align: top;
}
#main-ytn h3,
#main-newstand h3 {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-left: 15px;
  padding-top: 15px;
}
#main-ytn {
  display: inline-block; /*왜 인라인블럭이냐면 디브는 블록이기떄문예 아래로 배치되어 한폭을 전부차지함 따라서 인라인블럭되면 */
  width: 740px; /*인라인블럭이 되면 위에 남은공간에 들어갈수있으면 들어갈수있게 됨 참고로 인라인은 너비 높이 지정이 불가능함*/
  height: 46px;
  background-color: white;
  margin-bottom: 8px;
}
#main-ytn h3,
#main-ytn ol {
  display: inline-block;
}
#main-second-block {
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: top;
}
#main-newstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  background-color: white;
}
#main-newstand h3 {
  height: 45px;
  border-bottom: 1px solid #ebeef3;
}
#main-newstand ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-newstand li {
  float: left;
  width: calc(100% / 6); /*계산하는 기능함*/
  height: 67px;
  border-bottom: 1px solid #f1f3f6;
  border-right: 1px solid #f1f3f6;
  text-align: center; /*가로 가운데 정렬 ->부모가한다.*/
}
#main-newstand li img {
  /*세로 가운데 정렬 -> 자식이 한다.*/
  position: relative;
  top: 50%;
  transform: translateY(-50%); /*자신 이미지의 크기의 50퍼 만큼 올려줌*/
}
#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
  background-color: white;
  margin-bottom: 8px;
  vertical-align: top;
}
#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background-image: url("../PIC/ad2.PNG");
  vertical-align: top;
}
#main-category {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 740px;
  height: 900px;
  background-color: white;
  margin-bottom: 8px;
  margin-right: 8px;
}
#main-shopping {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 330px;
  height: 900px;
  background-color: white;
  margin-bottom: 8px;
}
#main-shopping iframe {
  width: 100%;
  height: 100%;
}
#main-third-block,
#main-forth-block {
  /*마진중첩현상르 해소하기 위함*/
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#main-event {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 740px;
  height: 130px;
  background-color: white;
  vertical-align: top;
  margin-right: 8px;
}
#main-third-ad {
  float: left; /*html에서 앤터를치면 그 공간이 웹에 반영되기때문에 밀려남 그래서 그걸 방지하기위해 인라인 블록대신 플롯 사용함*/
  width: 330px;
  height: 130px;
  background-image: url("../PIC/ad3.PNG");
}
#main-category-top {
  /*블록포멧컨텍츠 생성*/
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ebeef3;
}
#subject-list,
#subject-all,
#subject-prev,
#subject-next {
  float: left;
  height: 45px;
  padding: 0;
}

#subject-list {
  width: 603px;
  position: relative; /*컨테이닝 블럭이됨*/
}
#subject-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap; /*한줄로 니오게 하는 3가지 조건임 ->white-space: nowrap 와 overflow: hidden 와 너비 높이*/
  overflow: hidden;
  height: 45px;
  width: 700px;
}
#subject-list li {
  float: left;
  margin-right: 10px;
  padding: 14px 7px 0;
  font-weight: 700;
  font-size: 14px;
}
.opacity {
  opacity: 0.5; /*불투명도*/
  background: white;
}
.opacity.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 45px;
}
.opacity.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 45px;
}
#subject-list li.highlight {
  border-bottom: 3px solid #00c73c;
  color: #00b336;
  height: 45px;
}
#subject-all {
  border-right: 1px solid #ebeef3;
}
#subject-all,
#subject-prev,
#subject-next {
  width: 45px;
  background: white;
  border: none;
  border-left: 1px solid #ebeef3;
  position: relative;
}
#subject-all span:last-child {
  background-image: url("../PIC/sp_themecast.png");
  background-repeat: no-repeat;
  background-position: -218px -257px;
  position: absolute;
  top: 15px;
  left: 12px;
  width: 20px;
  height: 14px;
}
#subject-prev span:last-child {
  background-image: url("../PIC/sp_themecast.png");
  background-repeat: no-repeat;
  background-position: -320px 0;
  position: absolute;
  top: 15px;
  left: 16px;
  width: 8px;
  height: 16px;
}
#subject-next span:last-child {
  background-image: url("../PIC/sp_themecast.png");
  background-repeat: no-repeat;
  background-position: -320px -52px;
  position: absolute;
  top: 15px;
  left: 16px;
  width: 8px;
  height: 16px;
}
section {
  border: 1px solid #dee3eb;
}
