/*해더*/
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#start {
  display: flex;
  flex-flow: row nowrap;
}
#start > h1 {
  width: 35px;
  height: 35px;
  background-image: url(../PIC/sp_themecast.png);
  background-position: -211px -251px;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
  margin: 0;
}
#start > h1:hover {
  background-image: url(../PIC/sp_themecast.png);
  background-position: -241px -251px;
}
#middle {
  display: flex;
  flex-flow: row nowrap;
  min-width: 200px;
  justify-content: center;
}
.header-search {
  width: 550px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
fieldset {
  width: 95%;
  border: 1px solid lightslategray;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin-right: 0;
}
fieldset:hover {
  border: 1px solid skyblue;
}
fieldset input {
  border: none;
  width: 85%;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
#search-keyboard {
  width: 35px;
  height: 25px;
  display: inline-block;
  background-image: url(../PIC/네이버\ 스프라이트.png);
  background-position: -25px -53px;
  background-repeat: no-repeat;
  align-self: center;
}
#search-keyboard:hover {
  background-image: url(../PIC/네이버\ 스프라이트.png);
  background-position: -52px -53px;
}
#search-button {
  width: 45px;
  height: 35px;
  background-image: url(../PIC/검색로고-removebg-preview.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 4px 6px;
}
#search-button > button {
  width: 40px;
  height: 30px;
  display: none;
}
.mic {
  width: 50px;
  padding: 13px;
  cursor: pointer;
}
#mic:hover {
  content: url(../PIC/마이크\ 투명22.png);
}

#end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
#end * {
  cursor: pointer;
  /* width: 40px;
  height: 40px;
  padding: 8px; */
}
#end > div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 8px;
}
#video:hover {
  /*이미지 태그에 hover할경우 content속성을 이용하자*/
  content: url(../PIC/비디오\ 투명22.png);
}
#head-meun:hover {
  content: url(../PIC/헤더메뉴\ 투명22.png);
}
#alarm:hover {
  content: url(../PIC/알림\ 투명22.png);
}
#end > div > span {
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: skyblue;
  border-radius: 50%;
}
