*{
  box-sizing: border-box;
}
html,
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
/*레이아웃*/
:root{
  --header-height: 56px;
}
header{
  background-color: rgba(255, 255, 255, 0.7);
  width: calc(100% - 8px);
  /* height: var(--header-height); */
  position: fixed;

}
#aside-main-layout{
  display: flex;
  height: 100%;
  
}
aside{
  min-width: 260px;
  height: calc(100% - var(--header-height));
  overflow: auto;
  align-self: flex-end;
}
.scrollbar::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: lightskyblue;
  border-radius: 20px;
}
main{
  flex: auto;
  
}
/*내용*/
.blind{
  display: none;
}

